<header>

  <%= render "shared/top_links" %>

  <div class="row masthead-links">
    <div class="top-bar">

      <%= link_to setting['place_name'], root_path, class: "logo show-for-small-only" %>

      <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="float-right">
        <span class="menu-icon dark float-right" data-toggle></span>
        <%= t("application.menu")%>
      </span>

      <div id="responsive-menu">
        <div class="top-bar-title">
          <%= link_to root_path, class: "hide-for-small-only", accesskey: "/" do %>
            <%= image_tag(image_path_for('logo_header.png'), class: 'main-logo hide-for-small-only', size: '100x100', alt: t("layouts.header.logo")) %>
            <span><%= t("layouts.header.title", place_name: Setting['place_name']) %></span>
          <% end %>
        </div>

        <div class="top-bar-right">
          <ul class="menu">
            <%= render "shared/admin_login_items" %>
            <%= render "devise/menu/login_items" %>
          </ul>

          <div class="show-for-small-only">
            <div class="subnavigation row">
              <%= render "shared/subnavigation" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subnavigation expanded">
    <div class="row">
      <div class="hide-for-small-only text-left">
        <%= render "shared/subnavigation" %>
      </div>
      <div class="small-12 medium-3 column">
        <%= yield :header_addon %>
      </div>
    </div>
  </div>

  <% if params[:controller] == 'proposals' %>
    <div class="row expanded">
      <div class="header-banner-bg">
        <div class="small-12 medium-6 small-centered column padding">
          <div class="banner-text">
            <h1><%= t("layouts.header.proposals_banner.title") %></h1>
            <p><%= t("layouts.header.proposals_banner.text") %></p>
          </div>
          <%= link_to t("layouts.header.proposals_banner.button"), new_proposal_path, class: "button negative" %>
        </div>
      </div>
    </div>
  <% end %>

</header>
