<div class="expanded padding no-margin-top cover one">
  <div class="row teaser">
    <div class="teaser-headline">
      <h1><%= t("welcome.teaser_headline") %></h1>

      <svg class="underline-stroke" xmlns="http://www.w3.org/2000/svg" width="163" height="18" viewBox="0 0 163 18">
        <path fill="none" stroke="#fff" stroke-width="4" d="M550.243244,86.6963103 C550.243244,86.6963103 616.025479,68.8760103 711.34777,73.9851746" transform="translate(-549 -71)"/>
      </svg>
    </div>

    <p class="teaser-desc"><%= t("welcome.teaser_description", org_name: Setting["org_name"]) %></p>

    <%= link_to t("layouts.header.see_all"), proposals_path, class: "button negative see-more" %>
  </div>
</div>

<div class="expanded padding no-margin-top gray cover second">
  <div class="row">
    <div class="small-12 large-8 xxlarge-6 column">
      <div class="teaser-headline">
        <h1><%= t("welcome.proposal_teaser_headline") %></h1>

        <svg xmlns="http://www.w3.org/2000/svg" width="188" height="181" viewBox="0 0 188 181">
          <g fill="none" fill-rule="evenodd" stroke="#FFFFFF" stroke-width="2" transform="translate(-485 -49)">
            <path d="M486,51 C486,51 520.599832,49.4891635 562,70.5820312 C603.400168,91.674899 668.56854,149.169185 668.56854,226.378307"/>
            <path d="M665.56854,215.578307 L668.56854,226.378307 L671.56854,215.578307"/>
          </g>
        </svg>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-5 large-offset-7 column">
      <p class="teaser-desc"><%= t("welcome.proposal_teaser_description") %></p>
    </div>
  </div>
</div>

<div class="expanded padding no-margin-top gray cover third">
  <div class="row">
    <div class="small-12 large-8 large-offset-4 xxlarge-6 xxlarge-offset-10 column">
      <div class="teaser-headline">
        <h1><%= t("welcome.vote_teaser_headline") %></h1>
        <p><%= t("welcome.vote_teaser_line_1") %></p>
        <p><%= t("welcome.vote_teaser_line_2") %></p>

        <svg xmlns="http://www.w3.org/2000/svg" width="440" height="298" viewBox="0 0 440 298">
          <g fill="none" fill-rule="evenodd" stroke="#FFFFFF" stroke-width="2" transform="translate(-646 -2296)">
            <path d="M1085.53516 2298.77734C1085.53516 2298.77734 644.015625 2263.98437 650.125 2589.53906M646.92289 2578.79725L650.125 2589.53906 652.921834 2578.68468"/>
          </g>
        </svg>
      </div>
    </div>
  </div>

  <div class="row cards hide-for-small-only">
    <div class="small-12 large-3 column">
      <div class="card red">
        <h3 class="card-headline"><%= t("welcome.debates.title") %></h3>
        <p class="card-copy"><%= t("welcome.debates.description") %></p>
      </div>
    </div>
    <div class="small-12 large-3 column">
      <div class="card blue">
        <h3 class="card-headline"><%= t("welcome.proposal.title") %></h3>
        <p class="card-copy"><%= t("welcome.proposal.description") %></p>
      </div>
    </div>
    <div class="small-12 large-3 column">
      <div class="card green">
        <h3 class="card-headline"><%= t("welcome.decide.title") %></h3>
        <p class="card-copy"><%= t("welcome.decide.description") %></p>
      </div>
    </div>
    <div class="small-12 large-3 column">
      <div class="card gray">
        <h3 class="card-headline"><%= t("welcome.do.title") %></h3>
        <p class="card-copy"><%= t("welcome.do.description") %></p>
      </div>
    </div>
  </div>
</div>

<main>
  <% latest_proposals = Proposal.sort_by_created_at.limit(3) %>
  <% if feature?(:proposals) && latest_proposals.any? %>
  <section class="row last-proposals margin">
    <div class="small-12 column section-headline">
      <h3><%= t("welcome.proposals.title") %></h3>
      <%= link_to t("welcome.proposals.see_all"), proposals_path, class: "section-link" %>
    </div>

    <% latest_proposals.each do |proposal| %>
        <div class="small-12 medium-4 column">
      <div class="link-card">
        <h4><%= proposal.title %></h4>
        <p><%= proposal.summary %></p>
        <%= link_to t("welcome.proposals.button"), proposal, class: "button" %>
      </div>
    </div>
    <% end %>

    <hr class="dashed-sep">
  </section>
  <% end %>

  <section class="row expanded small-collapse banner-section">
    <div class="small-12 medium-6 column">
      <div class="banner">
        <div class="banner-content">
          <h3><%= t("welcome.more_info_banner_headline", place_name: Setting['place_name']) %></h3>
          <p><%= t("welcome.more_info_banner_text", place_name: Setting['place_name']) %></p>
          <%= link_to t("welcome.more_info_banner_link"), "/more-information", class: "button negative"%>
        </div>
      </div>
    </div>
    <div class="small-12 medium-6 column">
      <div class="banner-bg"></div>
    </div>

  </section>

  <% latest_debates = Debate.sort_by_created_at.limit(3) %>
  <% if feature?(:debates) && latest_debates.any? %>
  <section class="row last-proposals margin">
    <div class="small-12 column section-headline">
      <h3><%= t("welcome.debates.title") %></h3>
      <%= link_to t("welcome.debates.see_all"), proposals_path, class: "section-link" %>
    </div>

    <% latest_debates.each do |debate| %>
        <div class="small-12 medium-4 column">
      <div class="link-card">
        <h4><%= debate.title %></h4>
        <p><%= truncate strip_tags(debate.description), length: 150 %></p>
        <%= link_to t("welcome.debates.button"), debate, class: "button" %>
      </div>
    </div>
    <% end %>

    <hr class="dashed-sep">
  </section>
  <% end %>

  <% latest_proposal_ballots = Proposal.successful.sort_by_created_at.limit(3) %>
  <% if feature?(:proposals) && latest_proposal_ballots.any? %>
  <section class="row last-proposals margin">
    <div class="small-12 column section-headline">
      <h3><%= t("welcome.proposal_ballots.title") %></h3>
      <%= link_to t("welcome.proposal_ballots.see_all"), proposal_ballots_path, class: "section-link" %>
    </div>

    <% latest_proposal_ballots.each do |proposal_ballot| %>
        <div class="small-12 medium-4 column">
      <div class="link-card">
        <h4><%= proposal_ballot.title %></h4>
        <p><%= proposal_ballot.summary %></p>
        <%= link_to t("welcome.proposal_ballots.button"), proposal, class: "button" %>
      </div>
    </div>
    <% end %>

  </section>
  <% end %>

</main>
