<div class="top-links hide-for-small-only">
  <div class="row">
    <ul class="no-bullet external-links">
      <li class="inline-block">
        <%= link_to t("layouts.header.more_info"),
                    page_path('more_information'),
                    class: ("selected" if current_page?("/more-information")),
                    accesskey: "i"  %>
                    &nbsp;|
      </li>
      <li class="inline-block">
        <%= link_to t("layouts.header.external_link_transparency"),
                    t("layouts.header.external_link_transparency_url"),
                    target: "_blank",
                    title: t('shared.target_blank_html') %>
                    &nbsp;|
      </li>
      <% if setting['blog_url'] %>
        <li class="inline-block">
          <%= link_to setting['blog_url'], title: t('shared.target_blank_html'), target: "_blank" do %>
            <%= t("layouts.header.external_link_blog") %>
          <% end %>
        </li>
      <% end %>
      <%= raw content_block("top_links", I18n.locale) %>
    </ul>
    <%= render "shared/locale_switcher" %>
  </div>
</div>
